
day-1-foundation/pyspark-yelp-elt-py/files/yelp_academic_dataset_business.json

day-1-foundation/pyspark-yelp-elt-py/files/yelp_academic_dataset_review.json

day-1-foundation/pyspark-yelp-elt-py/files/yelp_academic_dataset_user.json
